<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title class="my-alert">Document</title>
  <script src="https://cdn.tailwindcss.com"></script>

  <div id="myForm2" class="my-alert">
    <div id="container">
      <input id="result" type="text" readonly="" />
      <span class="my-alert__unique1">Total: </span
      ><span class="my-alert__unique2" id="total" th:text="${total}"></span>
      <div class="my-alert__unique5"></div>
      <span class="my-alert__unique3">Change: </span
      ><span class="my-alert__unique4" id="change"></span>
      <div class="my-alert__unique6">
        <button onclick="appendNumber('7')" class="my-alert__unique7">7</button>
        <button onclick="appendNumber('8')" class="my-alert__unique7">8</button>
        <button onclick="appendNumber('9')" class="my-alert__unique7">9</button>
        <button onclick="deleteNumber()" class="my-alert__unique8">del</button>
        <button onclick="appendNumber('4')" class="my-alert__unique9">4</button>
        <button onclick="appendNumber('5')" class="my-alert__unique10">
          5
        </button>
        <button onclick="appendNumber('6')" class="my-alert__unique11">
          6
        </button>
        <div></div>
        <button onclick="appendNumber('1')" class="my-alert__unique12">
          1
        </button>
        <button onclick="appendNumber('2')" class="my-alert__unique13">
          2
        </button>
        <button onclick="appendNumber('3')" class="my-alert__unique14">
          3
        </button>
        <div></div>
        <button onclick="appendNumber('0')" class="my-alert__unique15">
          0
        </button>
        <button onclick="appendNumber('.')" class="my-alert__unique16">
          .
        </button>
        <form
          action="#"
          th:action="@{/check/save_receipt}"
          method="post"
          th:object="${receipt}"
        >
          <input
            type="number"
            th:field="*{invoice_id}"
            th:value="${receipt.invoice_id}"
          />
          <input
            id="cash_change"
            type="number"
            step="0.01"
            th:field="*{cash_change}"
          />
          <input id="cash_received" type="number" th:field="*{cash_received}" />
          <button type="submit" id="equals">OK</button>
        </form>
        <button onclick="clearResult()" class="my-alert__unique17">C</button>
      </div>
    </div>
  </div>
  <script class="my-alert">
    let result = document.getElementById("result");

    function appendNumber(number) {
      result.value += number;
      calculateChange();
    }

    function clearResult() {
      result.value = "";
      calculateChange();
    }

    function deleteNumber() {
      result.value = result.value.slice(0, -1);
      calculateChange();
    }

    function calculateChange() {
      let changeOutput = document.getElementById("change");
      let input = document.getElementById("result");
      let total = document.getElementById("total");
      let cash_change = document.getElementById("cash_change");
      let cash_received = document.getElementById("cash_received");

      let change = (
        parseFloat(input.value) - parseFloat(total.innerText)
      ).toFixed(2);
      if (isNaN(change) || change <= 0) {
        changeOutput.innerText = 0;
      } else {
        let inputValue = parseFloat(input.value);
        let changeValue = (inputValue - parseFloat(total.innerText)).toFixed(2);

        cash_received.value = inputValue;
        cash_change.value = changeValue;

        changeOutput.innerText = changeValue;
      }
    }
  </script>
</html>
