<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exchange Calculator</title>
  </head>
  <body>
    <input id="result" type="text" />
    <div>
      <button onclick="appendNumber(7)">7</button>
      <button onclick="appendNumber(8)">8</button>
      <button onclick="appendNumber(9)">9</button>
      <button onclick="deleteNumber()">del</button>
    </div>
    <div>
      <button onclick="appendNumber(4)">4</button>
      <button onclick="appendNumber(5)">5</button>
      <button onclick="appendNumber(6)">6</button>
      <button></button>
    </div>
    <div>
      <button onclick="appendNumber(1)">1</button>
      <button onclick="appendNumber(2)">2</button>
      <button onclick="appendNumber(3)">3</button>
      <button></button>
    </div>
    <div>
      <button onclick="appendNumber(0)">0</button>
      <button onclick="appendNumber('.')">.</button>
      <button onclick="calculateChange()">OK</button>
      <button onclick="clearResult()">C</button>
    </div>
    <p>Total: <span id="total"></span></p>
    <p>Change: <span id="change"></span></p>

    <script>
      let result = document.getElementById("result");
      let total = document.getElementById("total");
      let change = document.getElementById("change");

      function appendNumber(number) {
        result.value += number;
      }

      function clearResult() {
        result.value = "";
        change.innerText = "";
      }

      function deleteNumber() {
        result.value = result.value.slice(0, -1);
      }

      function calculateChange() {
        let totalValue = parseFloat(total.innerText);
        let inputValue = parseFloat(result.value);

        if (isNaN(totalValue) || isNaN(inputValue)) {
          change.innerText = "Error";
        } else {
          let changeValue = inputValue - totalValue;
          change.innerText = changeValue.toFixed(2);
        }
      }
    </script>
  </body>
</html>
